.cards{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single-card-movie{
    width: 24%;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 6px;
    box-sizing: border-box;
}

.card-img-top{
    width: 100%;
    border-radius: 4px;
}

.cardBody{
    margin-top: 12px;
}

.card-title{
    color:rgb(113, 10, 10) ;
    margin-bottom: 10px;
    min-height: 40px;
}

.card-text{
    color: rgb(113, 10, 10);
    margin-top: 10px;
    margin-bottom: 10px;
}

a{
    text-decoration: none;

}

.btn-info{
    display: inline-block;
    margin-bottom: 20px;
}
.btn-primary{
    margin-left: 160px;
}
.button{
    background-color: red;
}
