.detalle-container {
  padding: 20px;
  color: rgb(113, 10, 10);
}

.detalle-container img {
  width: 300px;
  margin-bottom: 20px;
}

.detalle-container button {
  background-color: red;
  color: white;
  padding: 8px;
  border: none;
  margin-top: 10px;
}